@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .checkbox-square {
    @apply appearance-none w-5 h-5 rounded-md;
  }
  .checkbox-round {
    @apply appearance-none w-4 h-4 rounded-full;
  }
  .checkbox-unchecked {
    @apply bg-white border-2 border-solid border-gray-400 transition;
  }
  .checkbox-checked-green {
    @apply checked:bg-accent-lime checked:border-accent-dark-lime;
  }
  .checkbox-checked-yellow {
    @apply checked:bg-accent-yellow checked:border-accent-dark-yellow;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Gabarito", sans-serif;
}
